// BNG UI Fonts
// --------------------------------------

$font_path: "/ui/ui-vue/src/assets/fonts";

:root {
  --fnt-defs: "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC";
  --fnt-mono: "Overpass Mono", "Noto Sans Mono", var(--fnt-defs);
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/static/Overpass-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/static/Overpass-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/static/Overpass-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/static/Overpass-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/static/Overpass-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/static/Overpass-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/static/Overpass-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("#{$font_path}/Overpass/static/Overpass-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Secondary font (to be used in UI) */

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("#{$font_path}/NotoSans/NotoSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Set of fonts to fill the gaps for the hieroglyphic languages */

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("#{$font_path}/NotoSans/NotoSansJP-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("#{$font_path}/NotoSans/NotoSansKR-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("#{$font_path}/NotoSans/NotoSansSC-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Monospace font just in case */

@font-face {
  font-family: "Noto Sans Mono";
  src: url("#{$font_path}/NotoSans/NotoSansMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Mono";
  src: url("#{$font_path}/NotoSans/NotoSansMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass Mono";
  src: url("#{$font_path}/OverpassMono/static/OverpassMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass Mono";
  src: url("#{$font_path}/OverpassMono/static/OverpassMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass Mono";
  src: url("#{$font_path}/OverpassMono/static/OverpassMono-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass Mono";
  src: url("#{$font_path}/OverpassMono/static/OverpassMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
