// note: "bng-app" class was misused in vue uiapps
//       correct one is "bngApp" to have full compatibility with angular uiapps
.bngApp {
  color: white;
  background: var(--bng-black-o4);
  box-sizing: border-box;
  padding: 0.125em;
  width: 100%;
  height: 100%;
}
