html, body {
  font-family: var(--fnt-defs);
  font-size: 16px;
  height: 100%;
  overflow: hidden !important;
  background: none;
  cursor: default;
  -webkit-transition: none!important; transition: none!important;
  -webkit-font-feature-settings: "kern" 1;
}

@media screen and (max-width: 1281px) {
  html, body {
    font-size: 13px;
  }
  button {
    font-size: 13px;
  }
}

@media screen and (max-width: 1100px) {
  html, body {
    font-size: 12px;
  }
  button {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  html, body {
    font-size: 10px;
  }
  button {
    font-size: 10px;
  }
}
