@font-face {
  font-family: "Open Sans Bold";
  src: url("/ui/common/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("/ui/common/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Extrabold";
  src: url("/ui/common/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Squada One";
  src: url("/ui/common/SquadaOne-Regular.ttf");
}

@font-face {
  font-family: "Digital";
  src: url("/ui/common/Segment7Standard.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("/ui/common/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("/ui/common/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/ui/common/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Play";
  src: url("/ui/common/Play-Regular.ttf");
}

@font-face {
  font-family: "Play Bold";
  src: url("/ui/common/Play-Bold.ttf");
}

@font-face {
  font-family: "News Cycle";
  src: url("/ui/common/NewsCycle-Regular.ttf");
}

@font-face {
  font-family: "News Cycle Bold";
  src: url("/ui/common/NewsCycle-Bold.ttf");
}

/* Main font */

@font-face {
  font-family: "Overpass";
  src: url('/ui/common/Overpass/Overpass-VariableFont_wght.ttf');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("/ui/common/Overpass/Overpass-Italic-VariableFont_wght.ttf");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

/* Monospace font just in case */

@font-face {
  font-family: "Noto Sans Mono";
  src: url("/ui/common/NotoSans/NotoSansMono-VariableFont_wdth,wght.ttf");
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
